<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation Page</title>
  <link rel="stylesheet" href="styles/confirm.css">
  <script src="js/script.js" defer></script>
</head>
<body>
  <header>
    <h1>Welcome to Our Library</h1>
  </header>
  <nav>
    <ul>
      <li><a href="index">Home</a></li>
      <li><a href="available_books">Available Books</a></li>
    </ul>
  </nav>
  <main>
    <div class="confirmation-message">
      <h2>Thank You for Adding New Book!</h2>
      <p>New Book has been submitted successfully.</p>
      <p>Now it will be available to all users.</p>
    </div>
  </main>
  <footer>
    <p>&copy; 2023 Your Library. All rights reserved.</p>
  </footer>
</body>
</html>
