<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Landing Page</title>
<script src="js/script.js"></script>
<link rel="stylesheet" href="styles/header.css">
<link rel="stylesheet" href="styles/styles.css" >
<!-- Link to Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Welcome to Our Library</h1>
  </header>
  <nav>
    <ul>
      <li><a href="index">Home</a></li>
      <li><a href="available_books">Books</a></li>
      <li><a href="#">About</a></li>
      <li><a href="admin">Admin Page</a></li>
    </ul>
  </nav>
  <main>
    <h2>Discover a World of Knowledge</h2>
    <p>Welcome to our library, where adventure and learning await you. Explore a vast collection of books, from classics to contemporary novels. Dive into knowledge and let your imagination soar.</p>
    <p>Whether you are seeking information, entertainment, or inspiration, our library is here to serve your every need. Feel free to roam through the shelves of knowledge and embark on a journey like no other.</p>
    <a href="available_books">Available Books</a>
    <a href="form">Borrowed Books</a>
  </main>
  <footer>
    <p>&copy; 2023 Your Library. All rights reserved.</p>
  </footer>
  <script src="script.js"></script>
</body>
</html>
