<header>
    <h1>Library Name</h1>
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <% if (!isAuth) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        <% } %>
        <% if (isAdmin) { %>
          <li><a href="admin">Admin Dashboard</a></li>
        <% } %>
        <% if (isAuth) { %>
          <li><a href="/profile">Profile</a></li>
        <% } %>
        <li><a href="available_books">Books</a></li>
        <% if(isAdmin || isAuth){ %>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
        <% } %>
      </ul>
    </nav>
  </header>