body,
h1,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}


/* Header Styles */
header {
    background-color: #003049;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 48px;
    margin: 20px 20px 30px 20px;

}

nav {
    background-color: #003049;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
    margin-bottom: -21px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;

}
button{
    color: #fff;
    background: none;
    text-decoration: none;
    border: none;
    font-size: 20px;
    list-style: none;
    
    display: flex;
    justify-content: center;

}
nav a:hover {
    background-color: #f77f00;
}


/* Hero Styles */
.hero {
    background-color: #e8e8e8;
    color: #003049;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 56px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cta {
    display: inline-block;
    background-color: #f77f00;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #e85c00;
}

/* Featured Books Styles */
.featured {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.featured h3 {
    font-size: 36px;
    margin: 0;
}

.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.book {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
}

.book img {
    max-width: 100%;
    margin-bottom: 10px;
}

.book h4 {
    font-size: 24px;
    margin: 0;
}

.book p {
    font-size: 18px;
    margin: 0;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.btn , .buttons a{
    display: inline-block;
    background-color: #003049;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f77f00;
    border: #f77f00;
    color: #f2f2f2;
}

.services {
    background-color: #f2f2f2;
    padding: 50px 20px;
    text-align: center;
}

.services h3 {
    font-size: 36px;
    margin: 0;
}

.service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.service {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
}

.service i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #f77f00;
}

.service h4 {
    font-size: 24px;
    margin: 0;
}

.service p {
    font-size: 18px;
    margin: 0;
}

footer {
    background-color: #003049;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}
/* Interesting Facts Styles */
.interesting-facts {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.interesting-facts h3 {
    font-size: 36px;
    margin: 0;
}

.interesting-facts ul {
    list-style-type: disc;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
}
button a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}
button a:hover{
    border: none;
}

.facts-div{
    background-color: #ececec;
    border-radius: 5px;
}

.facts-div ul li{
    list-style:circle;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-left: 70px;
}

.facts-h1{
    background-color: #969696;
    border-radius: 3px;
padding: 20px;}